.ropeproject
*.pyc
*.csv
*.*.sw*
bower_components
node_modules
.tmpjs
cookbooks/**/*.md
tags
.bin
src/**/*.js
dist
test/**/*.js
test_cookbooks.json
src/static/css
src/static/js
src/static/fonts
cookbooks.json
build
public
cookbooks
