.stepContainer {
  padding-top: 28px;
}

.step {
  position: relative;
  min-height: 56px;
}

.step > div:first-child {
  position: static;
  height: 0;
}

.step > div:last-child {
  margin-left: 56px;
  margin-right: 28px;
}

.circle {
  background: #4284f4;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 28px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 28px;
}

.line {
  position: absolute;
  border-left: 1px solid gainsboro;
  left: 28px;
  bottom: 10px;
  top: 66px;
}

.title {
  line-height: 56px;
  padding-left: 14px;
}
