* {
    margin:0;
    padding:0;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;

    //For navbar-fixed-top

    div#main-layout {
        height: 100%;
    }

    div#wrapper {
        height: 100%;
    }

    div.ui.grid {
        height: 100%;
    }

    div#barista-timeline {
        height: 100%;
    }

    div.setting.sidebar.menu {
        top: 35px;
    }

}
